<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <!-- ng-localstrage -->
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angularLocalStorage/src/angularLocalStorage.js"></script>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="js/jquery-barcode.js"></script>
    <script src="js/angular-barResouce.js"></script>
    <script src="js/client.js"></script>
</head>
<body ng-app="ng-app">
    <div ng-controller="bCtrl" ng-init="connect()">
        <label>MEIBO::<input type="text" ng-model="id" /></label>
        <button ng-click="checkin()">CHECKIN</button>
    </div>
</body>
</html>
